---
author: 菜鸡小谢
date: 2024-08-05
category: 人机验证
title: 人机验证实践（Cloudflare Turnstile）
isOriginal: true
---
### 什么是人机验证？

人机验证（CAPTCHA）是一种用于区分人类用户和自动化脚本（机器人）的技术，通常用于网站和在线服务中来防止恶意行为。常见应用场景：恶意登录、恶意注册和其他恶意操作等等。

### 常见人机验证解决方案

1、**Cloudflare Turnstile（推荐）**

优点：

①免费使用

②先进的无感知验证

③用户无需进行额外操作

④适用于任何网站

2、**Google reCAPTCHA**
